:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.article-container {
  display: flex;
  flex-direction: column;
}

.intermediary {
  display: flex;
  justify-content: center;
}